flynt-component[name='BlockNewsItem'] {
  .follow-image {
    display: none;
    position: absolute;
    transition: ease 0.2s;
    z-index: -1;
  }

  .hoverable:hover {
    .follow-image {
      display: block;
    }
  } 
}
