<flynt-component client:visible name="BlockWysiwygInterview" class="interviewComponent">
  <div class="max-w-screen-lg mx-auto px-lg">
    {{ contentHtml|e('wp_kses_post') }}
  </div>
</flynt-component>
