.home {
  flynt-component[name='NavigationMain'] {
    .link {
      @apply text-white;
    } 
  }
}

.page-artists {
  .mainContent {
    display: block;
    height: 100vw;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 1px;
    position: absolute;
    scrollbar-width: none;
    top: 0;
    transform: rotate(-90deg) translateY(-100vh);
    transform-origin: right top;
    width: 100vh;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .mainContent > flynt-component[name='ArchiveArtists'] {
    display: block;
    padding: 60px 20px;
    transform: rotate(90deg) translateY(-70vh);
    transform-origin: right top;
  }
  
  .squares {
    padding: 30vh 0 0;
  }

  .squares > flynt-component[name='ArchiveArtists'] {
    height: 30vh;
    // margin: 20px 0;
    margin: 0;
    width: 30vh;
  }

  .squares>flynt-component[name='ArchiveArtists']:last-child {
    margin-bottom: calc(-100vh + 10px);
  }  
}
